body,td
{
	font-size:12px
}
a
{
	color:#0000FF; 
	text-decoration:none;
}
a.top
{
	color:#FF0000; 
	text-decoration:none;
}
.textbox
{
	border-bottom:1px solid #999999;
	border-left:1px solid #999999;
	border-right:1px solid #999999;
	border-top:1px solid #999999;
	height:15px;
}
.button
{
	border-bottom:1px outset #999999;
	border-left:1px outset #999999;
	border-right:1px outset #999999;
	border-top:1px outset #999999;
}
.font1
{
	color:#FF6600;
}
.font2
{
	color:#0000FF;
}
.table_border
{
	border-bottom:1px solid #FFCC33;
	border-left:1px solid #FFCC33;
	border-right:1px solid #FFCC33;
	border-top:1px solid #FFCC33;
}